<!-- Template for instructions page -->

<h2 class="bolded-blue" data-i18n="litw-instruct-header-2"></h2>

	<p data-i18n="litw-instruct-body-1-p1-2"></p>

<div class="instructions-stim-container">
	<img src="img/stim-img/scenario-example.png" style="width:80%;" />
</div>

{{#if withTouch}}
	<p data-i18n="litw-instruct-body-2-p1-touch-2"></p>
	<p class="bolded-blue" data-i18n="litw-instruct-body-2-p2-touch-2"></p>
{{else}}
    <p data-i18n="litw-instruct-body-2-p1-2"></p>
    <p class="bolded-blue" data-i18n="litw-instruct-body-2-p2-2"></p>
{{/if}}
