
<h2 class="bolded-blue" data-i18n="website-use-header"></h2>

<p data-i18n="website-use-body-1-p1"></p>

<div id="questions">
      <table class="website-use-table">
          <tr>
            <td>
            </td>
            <td>
              <label data-i18n="websiteuse-answer1-1"></label>
            </td>
            <td>
              <label data-i18n="websiteuse-answer1-2"></label>
            </td>
            <td>
              <label data-i18n="websiteuse-answer1-3"></label>
            </td>
            <td>
              <label data-i18n="websiteuse-answer1-4"></label>
            </td>
            <td>
              <label data-i18n="websiteuse-answer1-5"></label>
            </td>
          </tr>
          <!-- accuweather -->
          <tr>
            <td>
              <img src="img/website-logos/accuweather-logo.png" style="height:40px"/>
            </td>
            <td style="width:17%">
              <input type='radio' name='accuweather' id='accuweather-never' value='never'/>
            </td>
            <td style="width:17%">
              <input type='radio' name='accuweather' id='accuweather-dontuse' value='dontuse'/>
            </td>
            <td style="width:17%">
              <input type='radio' name='accuweather' id='accuweather-sometimes' value='sometimes'/>
            </td>
            <td style="width:17%">
              <input type='radio' name='accuweather' id='accuweather-usedto' value='usedto'/>
            </td>
            <td style="width:17%">
              <input type='radio' name ='accuweather' id='accuweather-often' value='often'/>
            </td>
          </tr>
          <!-- allrecipes -->
          <tr>
            <td>
              <img src="img/website-logos/allrecipes-logo.png" style="height:30px"/>
            </td>
            <td>
              <input type='radio' name='allrecipes' id='allrecipes-never' value='never'/>
            </td>
            <td>
              <input type='radio' name='allrecipes' id='allrecipes-dontuse' value='dontuse'/>
            </td>
            <td>
              <input type='radio' name='allrecipes' id='allrecipes-sometimes' value='sometimes'/>
            </td>
            <td>
              <input type='radio' name='allrecipes' id='allrecipes-usedto' value='usedto'/>
            </td>
            <td>
              <input type='radio' name ='allrecipes' id='allrecipes-often' value='often'/>
            </td>
          </tr>
          <!-- amazon -->
          <tr>
          <td>
            <img src="img/website-logos/amazon-logo.png" style="height:30px"/>
          </td>
            <td>
              <input type='radio' name='amazon' id='amazon-never' value='never'/>
            </td>
            <td>
              <input type='radio' name='amazon' id='amazon-dontuse' value='dontuse'/>
            </td>
            <td>
              <input type='radio' name='amazon' id='amazon-sometimes' value='sometimes'/>
            </td>
            <td>
              <input type='radio' name='amazon' id='amazon-usedto' value='usedto'/>
            </td>
            <td>
              <input type='radio' name ='amazon' id='amazon-often' value='often'/>
            </td>
          </tr>
          <!-- apple -->
          <tr>
            <td>
              <img src="img/website-logos/apple-logo.jpeg" style="height:30px"/>
            </td>
            <td>
              <input type='radio' name='apple' id='apple-never' value='never'/>
            </td>
            <td>
              <input type='radio' name='apple' id='apple-dontuse' value='dontuse'/>
            </td>
            <td>
              <input type='radio' name='apple' id='apple-sometimes' value='sometimes'/>
            </td>
            <td>
              <input type='radio' name='apple' id='apple-usedto' value='usedto'/>
            </td>
            <td>
              <input type='radio' name ='apple' id='apple-often' value='often'/>
            </td>
          </tr>
          <!-- bbc -->
          <tr>
            <td>
              <img src="img/website-logos/bbc-logo.png" style="height:30px"/>
            </td>
            <td>
              <input type='radio' name='bbc' id='bbc-never' value='never'/>
            </td>
            <td>
              <input type='radio' name='bbc' id='bbc-dontuse' value='dontuse'/>
            </td>
            <td>
              <input type='radio' name='bbc' id='bbc-sometimes' value='sometimes'/>
            </td>
            <td>
              <input type='radio' name='bbc' id='bbc-usedto' value='usedto'/>
            </td>
            <td>
              <input type='radio' name ='bbc' id='bbc-often' value='often'/>
            </td>
          </tr>
          <!-- craigslist -->
          <tr>
            <td>
              <img src="img/website-logos/craigslist-logo.png" style="height:30px"/>
            </td>
            <td>
              <input type='radio' name='craigslist' id='craigslist-never' value='cnever'/>
            </td>
            <td>
              <input type='radio' name='craigslist' id='craigslist-dontuse' value='dontuse'/>
            </td>
            <td>
              <input type='radio' name='craigslist' id='craigslist-sometimes' value='sometimes'/>
            </td>
            <td>
              <input type='radio' name='craigslist' id='craigslist-usedto' value='usedto'/>
            </td>
            <td>
              <input type='radio' name ='craigslist' id='craigslist-often' value='often'/>
            </td>
          </tr>
          <!-- dictionary -->
          <tr>
            <td>
              <img src="img/website-logos/dictionary-logo.png" style="height:30px"/>
            </td>
            <td>
              <input type='radio' name='dictionary' id='dictionary-never' value='never'/>
            </td>
            <td>
              <input type='radio' name='dictionary' id='dictionary-dontuse' value='dontuse'/>
            </td>
            <td>
              <input type='radio' name='dictionary' id='dictionary-sometimes' value='sometimes'/>
            </td>
            <td>
              <input type='radio' name='dictionary' id='dictionary-usedto' value='usedto'/>
            </td>
            <td>
              <input type='radio' name ='dictionary' id='dictionary-often' value='often'/>
            </td>
          </tr>
          <!-- ebay -->
          <tr>
            <td>
              <img src="img/website-logos/ebay-logo.png" style="height:30px"/>
            </td>
            <td>
              <input type='radio' name='ebay' id='ebay-never' value='never'/>
            </td>
            <td>
              <input type='radio' name='ebay' id='ebay-dontuse' value='dontuse'/>
            </td>
            <td>
              <input type='radio' name='ebay' id='ebay-sometimes' value='sometimes'/>
            </td>
            <td>
              <input type='radio' name='ebay' id='ebay-usedto' value='usedto'/>
            </td>
            <td>
              <input type='radio' name ='ebay' id='ebay-often' value='often'/>
            </td>
          </tr>
          <!-- expedia -->
          <tr>
            <td>
              <img src="img/website-logos/expedia-logo.jpeg" style="height:30px"/>
            </td>
            <td>
              <input type='radio' name='expedia' id='expedia-never' value='never'/>
            </td>
            <td>
              <input type='radio' name='expedia' id='expedia-dontuse' value='dontuse'/>
            </td>
            <td>
              <input type='radio' name='expedia' id='expedia-sometimes' value='sometimes'/>
            </td>
            <td>
              <input type='radio' name='expedia' id='expedia-usedto' value='usedto'/>
            </td>
            <td>
              <input type='radio' name ='expedia' id='expedia-often' value='often'/>
            </td>
          </tr>
          <!-- facebook -->
          <tr>
            <td>
              <img src="img/website-logos/facebook-logo.png" style="height:30px"/>
            </td>
            <td>
              <input type='radio' name='facebook' id='facebook-never' value='never'/>
            </td>
            <td>
              <input type='radio' name='facebook' id='facebook-dontuse' value='dontuse'/>
            </td>
            <td>
              <input type='radio' name='facebook' id='facebook-sometimes' value='sometimes'/>
            </td>
            <td>
              <input type='radio' name='facebook' id='facebook-usedto' value='usedto'/>
            </td>
            <td>
              <input type='radio' name ='facebook' id='facebook-often' value='often'/>
            </td>
          </tr>
          <!-- gmail -->
          <tr>
            <td>
              <img src="img/website-logos/gmail-logo.png" style="height:30px"/>
            </td>
            <td>
              <input type='radio' name='gmail' id='gmail-never' value='never'/>
            </td>
            <td>
              <input type='radio' name='gmail' id='gmail-dontuse' value='dontuse'/>
            </td>
            <td>
              <input type='radio' name='gmail' id='gmail-sometimes' value='sometimes'/>
            </td>
            <td>
              <input type='radio' name='gmail' id='gmail-usedto' value='usedto'/>
            </td>
            <td>
              <input type='radio' name ='gmail' id='gmail-often' value='often'/>
            </td>
          </tr>
          <!-- google -->
          <tr>
            <td>
              <img src="img/website-logos/google-logo.png" style="height:30px"/>
            </td>
            <td>
              <input type='radio' name='google' id='google-never' value='never'/>
            </td>
            <td>
              <input type='radio' name='google' id='google-dontuse' value='dontuse'/>
            </td>
            <td>
              <input type='radio' name='google' id='google-sometimes' value='sometimes'/>
            </td>
            <td>
              <input type='radio' name='google' id='google-usedto' value='usedto'/>
            </td>
            <td>
              <input type='radio' name ='google' id='google-often' value='often'/>
            </td>
          </tr>
          <!-- google-maps -->
          <tr>
            <td>
              <img src="img/website-logos/google-maps-logo.png" style="height:40px"/>
            </td>
            <td>
              <input type='radio' name='google-maps' id='google-maps-never' value='never'/>
            </td>
            <td>
              <input type='radio' name='google-maps' id='google-maps-dontuse' value='dontuse'/>
            </td>
            <td>
              <input type='radio' name='google-maps' id='google-maps-sometimes' value='sometimes'/>
            </td>
            <td>
              <input type='radio' name='google-maps' id='google-maps-usedto' value='usedto'/>
            </td>
            <td>
              <input type='radio' name ='google-maps' id='google-maps-often' value='often'/>
            </td>
          </tr>
          <!-- google-play -->
          <tr>
            <td>
              <img src="img/website-logos/google-play-logo.jpeg" style="height:40px"/>
            </td>
            <td>
              <input type='radio' name='google-play' id='google-play-never' value='never'/>
            </td>
            <td>
              <input type='radio' name='google-play' id='google-play-dontuse' value='dontuse'/>
            </td>
            <td>
              <input type='radio' name='google-play' id='google-play-sometimes' value='sometimes'/>
            </td>
            <td>
              <input type='radio' name='google-play' id='google-play-usedto' value='usedto'/>
            </td>
            <td>
              <input type='radio' name ='google-play' id='google-play-often' value='often'/>
            </td>
          </tr>
          <!-- govuk -->
          <tr>
            <td>
              <img src="img/website-logos/govuk-logo.png" style="height:30px"/>
            </td>
            <td>
              <input type='radio' name='govuk' id='govuk-never' value='never'/>
            </td>
            <td>
              <input type='radio' name='govuk' id='govuk-dontuse' value='dontuse'/>
            </td>
            <td>
              <input type='radio' name='govuk' id='govuk-sometimes' value='sometimes'/>
            </td>
            <td>
              <input type='radio' name='govuk' id='govuk-usedto' value='usedto'/>
            </td>
            <td>
              <input type='radio' name ='govuk' id='govuk-often' value='often'/>
            </td>
          </tr>
          <!-- imdb -->
          <tr>
            <td>
              <img src="img/website-logos/imdb-logo.png" style="height:30px"/>
            </td>
            <td>
              <input type='radio' name='imdb' id='imdb-never' value='never'/>
            </td>
            <td>
              <input type='radio' name='imdb' id='imdb-dontuse' value='dontuse'/>
            </td>
            <td>
              <input type='radio' name='imdb' id='imdb-sometimes' value='sometimes'/>
            </td>
            <td>
              <input type='radio' name='imdb' id='imdb-usedto' value='usedto'/>
            </td>
            <td>
              <input type='radio' name ='imdb' id='imdb-often' value='often'/>
            </td>
          </tr>
          <tr>
            <td>
            </td>
            <td>
              <label data-i18n="websiteuse-answer1-1"></label>
            </td>
            <td>
              <label data-i18n="websiteuse-answer1-2"></label>
            </td>
            <td>
              <label data-i18n="websiteuse-answer1-3"></label>
            </td>
            <td>
              <label data-i18n="websiteuse-answer1-4"></label>
            </td>
            <td>
              <label data-i18n="websiteuse-answer1-5"></label>
            </td>
          </tr>
          <!-- instagram -->
          <tr>
            <td>
              <img src="img/website-logos/instagram-logo.jpeg" style="height:30px"/>
            </td>
            <td>
              <input type='radio' name='instagram' id='instagram-never' value='never'/>
            </td>
            <td>
              <input type='radio' name='instagram' id='instagram-dontuse' value='dontuse'/>
            </td>
            <td>
              <input type='radio' name='instagram' id='instagram-sometimes' value='sometimes'/>
            </td>
            <td>
              <input type='radio' name='instagram' id='instagram-usedto' value='usedto'/>
            </td>
            <td>
              <input type='radio' name ='instagram' id='instagram-often' value='often'/>
            </td>
          </tr>
          <!-- linkedin -->
          <tr>
            <td>
              <img src="img/website-logos/linkedin-logo.png" style="height:30px"/>
            </td>
            <td>
              <input type='radio' name='linkedin' id='linkedin-never' value='never'/>
            </td>
            <td>
              <input type='radio' name='linkedin' id='linkedin-dontuse' value='dontuse'/>
            </td>
            <td>
              <input type='radio' name='linkedin' id='linkedin-sometimes' value='sometimes'/>
            </td>
            <td>
              <input type='radio' name='linkedin' id='linkedin-usedto' value='usedto'/>
            </td>
            <td>
              <input type='radio' name ='linkedin' id='linkedin-often' value='often'/>
            </td>
          </tr>
          <!-- metoffice -->
          <tr>
            <td>
              <img src="img/website-logos/metoffice-logo.png" style="height:30px"/>
            </td>
            <td>
              <input type='radio' name='metoffice' id='metoffice-never' value='never'/>
            </td>
            <td>
              <input type='radio' name='metoffice' id='metoffice-dontuse' value='dontuse'/>
            </td>
            <td>
              <input type='radio' name='metoffice' id='metoffice-sometimes' value='sometimes'/>
            </td>
            <td>
              <input type='radio' name='metoffice' id='metoffice-usedto' value='usedto'/>
            </td>
            <td>
              <input type='radio' name ='metoffice' id='metoffice-often' value='often'/>
            </td>
          </tr>
          <!-- netflix -->
          <tr>
            <td>
              <img src="img/website-logos/netflix-logo.png" style="height:30px"/>
            </td>
            <td>
              <input type='radio' name='netflix' id='netflix-never' value='never'/>
            </td>
            <td>
              <input type='radio' name='netflix' id='netflix-dontuse' value='dontuse'/>
            </td>
            <td>
              <input type='radio' name='netflix' id='netflix-sometimes' value='sometimes'/>
            </td>
            <td>
              <input type='radio' name='netflix' id='netflix-usedto' value='usedto'/>
            </td>
            <td>
              <input type='radio' name ='netflix' id='netflix-often' value='often'/>
            </td>
          </tr>
          <!-- nytimes -->
          <tr>
            <td>
              <img src="img/website-logos/nytimes-logo.jpeg" style="height:30px"/>
            </td>
            <td>
              <input type='radio' name='nytimes' id='nytimes-never' value='never'/>
            </td>
            <td>
              <input type='radio' name='nytimes' id='nytimes-dontuse' value='dontuse'/>
            </td>
            <td>
              <input type='radio' name='nytimes' id='nytimes-sometimes' value='sometimes'/>
            </td>
            <td>
              <input type='radio' name='nytimes' id='nytimes-usedto' value='usedto'/>
            </td>
            <td>
              <input type='radio' name ='nytimes' id='nytimes-often' value='often'/>
            </td>
          </tr>
          <!-- outlook -->
          <tr>
            <td>
              <img src="img/website-logos/outlook-logo.png" style="height:30px"/>
            </td>
            <td>
              <input type='radio' name='outlook' id='outlook-never' value='never'/>
            </td>
            <td>
              <input type='radio' name='outlook' id='outlook-dontuse' value='dontuse'/>
            </td>
            <td>
              <input type='radio' name='outlook' id='outlook-sometimes' value='sometimes'/>
            </td>
            <td>
              <input type='radio' name='outlook' id='outlook-usedto' value='usedto'/>
            </td>
            <td>
              <input type='radio' name ='outlook' id='outlook-often' value='often'/>
            </td>
          </tr>
          <!-- paypal -->
          <tr>
            <td>
              <img src="img/website-logos/paypal-logo.png" style="height:30px"/>
            </td>
            <td>
              <input type='radio' name='paypal' id='paypal-never' value='never'/>
            </td>
            <td>
              <input type='radio' name='paypal' id='paypal-dontuse' value='dontuse'/>
            </td>
            <td>
              <input type='radio' name='paypal' id='paypal-sometimes' value='sometimes'/>
            </td>
            <td>
              <input type='radio' name='paypal' id='paypal-usedto' value='usedto'/>
            </td>
            <td>
              <input type='radio' name ='paypal' id='paypal-often' value='often'/>
            </td>
          </tr>
          <!-- reddit -->
          <tr>
            <td>
              <img src="img/website-logos/reddit-logo.png" style="height:30px"/>
            </td>
            <td>
              <input type='radio' name='reddit' id='reddit-never' value='never'/>
            </td>
            <td>
              <input type='radio' name='reddit' id='reddit-dontuse' value='dontuse'/>
            </td>
            <td>
              <input type='radio' name='reddit' id='reddit-sometimes' value='sometimes'/>
            </td>
            <td>
              <input type='radio' name='reddit' id='reddit-usedto' value='usedto'/>
            </td>
            <td>
              <input type='radio' name ='reddit' id='reddit-often' value='often'/>
            </td>
          </tr>
          <!-- tripadvisor -->
          <tr>
            <td>
              <img src="img/website-logos/tripadvisor-logo.png" style="height:30px"/>
            </td>
            <td>
              <input type='radio' name='tripadvisor' id='tripadvisor-never' value='never'/>
            </td>
            <td>
              <input type='radio' name='tripadvisor' id='tripadvisor-dontuse' value='dontuse'/>
            </td>
            <td>
              <input type='radio' name='tripadvisor' id='tripadvisor-sometimes' value='sometimes'/>
            </td>
            <td>
              <input type='radio' name='tripadvisor' id='tripadvisor-usedto' value='usedto'/>
            </td>
            <td>
              <input type='radio' name ='tripadvisor' id='tripadvisor-often' value='often'/>
            </td>
          </tr>
          <!-- twitter -->
          <tr>
            <td>
              <img src="img/website-logos/twitter-logo.png" style="height:30px"/>
            </td>
            <td>
              <input type='radio' name='twitter' id='twitter-never' value='never'/>
            </td>
            <td>
              <input type='radio' name='twitter' id='twitter-dontuse' value='dontuse'/>
            </td>
            <td>
              <input type='radio' name='twitter' id='twitter-sometimes' value='sometimes'/>
            </td>
            <td>
              <input type='radio' name='twitter' id='twitter-usedto' value='usedto'/>
            </td>
            <td>
              <input type='radio' name ='twitter' id='twitter-often' value='often'/>
            </td>
          </tr>
          <!-- usagov -->
          <tr>
            <td>
              <img src="img/website-logos/usagov-logo.png" style="height:30px"/>
            </td>
            <td>
              <input type='radio' name='usagov' id='usagov-never' value='never'/>
            </td>
            <td>
              <input type='radio' name='usagov' id='usagov-dontuse' value='dontuse'/>
            </td>
            <td>
              <input type='radio' name='usagov' id='usagov-sometimes' value='sometimes'/>
            </td>
            <td>
              <input type='radio' name='usagov' id='usagov-usedto' value='usedto'/>
            </td>
            <td>
              <input type='radio' name ='usagov' id='usagov-often' value='often'/>
            </td>
          </tr>
          <!-- whatsapp -->
          <tr>
            <td>
              <img src="img/website-logos/whatsapp-logo.png" style="height:30px"/>
            </td>
            <td>
              <input type='radio' name='whatsapp' id='whatsapp-never' value='never'/>
            </td>
            <td>
              <input type='radio' name='whatsapp' id='whatsapp-dontuse' value='dontuse'/>
            </td>
            <td>
              <input type='radio' name='whatsapp' id='whatsapp-sometimes' value='sometimes'/>
            </td>
            <td>
              <input type='radio' name='whatsapp' id='whatsapp-usedto' value='usedto'/>
            </td>
            <td>
              <input type='radio' name ='whatsapp' id='whatsapp-often' value='often'/>
            </td>
          </tr>
          <!-- wikipedia -->
          <tr>
            <td>
              <img src="img/website-logos/wikipedia-logo.png" style="height:30px"/>
            </td>
            <td>
              <input type='radio' name='wikipedia' id='wikipedia-never' value='never'/>
            </td>
            <td>
              <input type='radio' name='wikipedia' id='wikipedia-dontuse' value='dontuse'/>
            </td>
            <td>
              <input type='radio' name='wikipedia' id='wikipedia-sometimes' value='sometimes'/>
            </td>
            <td>
              <input type='radio' name='wikipedia' id='wikipedia-usedto' value='usedto'/>
            </td>
            <td>
              <input type='radio' name ='wikipedia' id='wikipedia-often' value='often'/>
            </td>
          </tr>
          <!-- yahoo -->
          <tr>
            <td>
              <img src="img/website-logos/yahoo-logo.png" style="height:40px"/>
            </td>
            <td>
              <input type='radio' name='yahoo' id='yahoo-never' value='never'/>
            </td>
            <td>
              <input type='radio' name='yahoo' id='yahoo-dontuse' value='dontuse'/>
            </td>
            <td>
              <input type='radio' name='yahoo' id='yahoo-sometimes' value='sometimes'/>
            </td>
            <td>
              <input type='radio' name='yahoo' id='yahoo-usedto' value='usedto'/>
            </td>
            <td>
              <input type='radio' name ='yahoo' id='yahoo-often' value='often'/>
            </td>
          </tr>
          <!-- youtube -->
          <tr>
            <td>
              <img src="img/website-logos/youtube-logo.png" style="height:40px"/>
            </td>
            <td>
              <input type='radio' name='youtube' id='youtube-never' value='never'/>
            </td>
            <td>
              <input type='radio' name='youtube' id='youtube-dontuse' value='dontuse'/>
            </td>
            <td>
              <input type='radio' name='youtube' id='youtube-sometimes' value='sometimes'/>
            </td>
            <td>
              <input type='radio' name='youtube' id='youtube-usedto' value='usedto'/>
            </td>
            <td>
              <input type='radio' name ='youtube' id='youtube-often' value='often'/>
            </td>
          </tr>
      </table>
</div>
